@use "../../../styles/variables" as v;

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: v.$secodary;
  position: relative;
  overflow: hidden;
  padding: 0 20px;
  height: 100vh;
}

.background-watermark {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  opacity: 0.05;
}

.content-wrapper {
  width: 100%;
  max-width: 350px;
  z-index: 1;
  text-align: center;
}

.logo-section {
  margin-bottom: 40px;

  .logo-icon {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
  }

  .app-title {
    color: v.$white;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 2px;
    margin: 0;
    text-transform: uppercase;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.custom-input {
  width: 100%;
  padding: 15px 25px;
  border-radius: 50px;
  border: 1px solid transparent;
  font-size: 1rem;
  color: v.$input-text;
  background-color: v.$white;
  outline: none;
  box-sizing: border-box;
  transition: box-shadow 0.2s, border-color 0.2s;

  &::placeholder {
    color: #b0b0b0;
  }

  &:focus,
  &.ng-invalid.ng-touched {
    box-shadow: 0 0 0 2px rgba(v.$primary, 0.5);
    border-color: v.$primary;
  }
}

.error-message {
  color: v.$primary;
  font-size: 0.8rem;
  margin-top: 5px;
  text-align: left;
  padding-left: 25px;
}

.btn-submit {
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  border-radius: 50px;
  border: none;
  background-color: v.$primary;
  color: v.$white;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: background 0.3s ease;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);

  &:hover {
    background-color: lighten(v.$primary, 5%);
  }
  
  &:disabled {
    background-color: grayscale(v.$primary);
    cursor: not-allowed;
  }
}

.forgot-password {
  display: block;
  margin-top: 15px;
  color: v.$white;
  font-size: 0.9rem;
  font-weight: 300;
  border-bottom: 1px solid transparent;
}

.footer {
  margin-top: 60px;
  color: v.$white;
  font-size: 0.9rem;

  .create-account {
    color: v.$white;
    font-weight: 600;
    text-decoration: underline;
    margin-left: 5px;
  }
}